@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */
body {
  font-family: "Work Sans", sans-serif;
  color: #131313;
}

.text-grey {
  color: #727272;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
.section-description {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #727272;
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  border: 0;
  width: 180px;
  height: 64px;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
}
.orange {
  color: #ff900e;
}

/* banner styling */
.banner {
  background: rgba(255, 144, 14, 0.1);
  padding-top: 50px;
  padding-left: 230px;
  padding-right: 230px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #424242;
  font-size: 1.25rem;
  font-weight: 500;
}

.banner-content {
  text-align: center;
  padding-top: 100px;
}

.banner-description {
  font-size: 1rem;
  max-width: 860px;
  margin: 20px auto;
}

.banner img {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}

/* Quick list styles */
.quick-list {
  display: flex;
  gap: 70px;
  padding: 100px 10vw;
  align-items: center;
}
.img-container,
.list-container {
  width: 50%;
}

.img-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.img-container img {
  width: 100%;
}

/* feature section styles */
.features {
  display: flex;
  gap: 140px;
  padding-left: 240px;
  padding-right: 240px;
  align-items: center;
}

.features .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.features .card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
}

.features .card-title {
  font-size: 1.4rem;
  font-weight: 600;
}

.features img {
  position: relative;
  left: 100px;
  width: 100%;
}

.feature-text-container,
.feature-img-container {
  width: 50%;
}

.ten-year-badge {
  color: white;
  text-align: center;
  border-radius: 8px;
  background: #ff900e;
  padding: 40px;
  max-width: 320px;
  position: relative;
  top: -100px;
}

.ten-year-info {
  font-size: 1.5rem;
}
/* responsive design */

@media screen and (max-width: 576px) {
  nav,
  .quick-list,
  .features {
    flex-direction: column;
    gap: 20px;
  }

  .banner,
  .quick-list,
  .features {
    padding: 20px;
  }

  .img-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .img-container,
  .list-container,
  .feature-text-container,
  .feature-img-container {
    width: 100%;
  }

  .features img {
    position: static;
  }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }

  .banner,
  .quick-list,
  .features {
    padding: 50px;
  }
  .features img {
    position: static;
  }
}
